common --experimental_allow_incremental_repository_updates
build --symlink_prefix=dist/
build --experimental_strict_action_env

##################################
# Remote Build Execution support #
##################################

# Remote instance and caching
# only dev branch should upload results
build --remote_upload_local_results=false
# TODO: Static IP address & basic auth through Nginx Ingress
build:remote --remote_instance_name=dashboard
build:remote --remote_executor=grpc://sa-internal-buildfarm.westeurope.cloudapp.azure.com
build:remote --remote_cache=grpc://sa-internal-buildfarm.westeurope.cloudapp.azure.com

# The following --define=EXECUTOR=remote will be able to be removed
# once https://github.com/bazelbuild/bazel/issues/7254 is fixed
build:remote --define=EXECUTOR=remote
build:remote --spawn_strategy=remote

# Increase the default number of jobs
# build:remote --jobs=16

# Force remote exeuctions to consider the entire run as linux
build:remote --cpu=k8
build:remote --host_cpu=k8

# From https://github.com/bazelbuild/bazel-toolchains/blob/master/configs/ubuntu16_04_clang/1.2/toolchain.bazelrc
# Toolchain and platform related flags
build:remote --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:remote --crosstool_top=@bazel_toolchains//configs/ubuntu16_04_clang/1.2/bazel_0.25.0/default:toolchain
build:remote --extra_execution_platforms=@bazel_toolchains//configs/ubuntu16_04_clang/1.2:rbe_ubuntu1604
build:remote --extra_toolchains=@bazel_toolchains//configs/ubuntu16_04_clang/1.2/bazel_0.25.0/cpp:cc-toolchain-clang-x86_64-default
build:remote --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:remote --host_javabase=@bazel_toolchains//configs/ubuntu16_04_clang/1.2:jdk8
build:remote --host_platform=@bazel_toolchains//configs/ubuntu16_04_clang/1.2:rbe_ubuntu1604
build:remote --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:remote --javabase=@bazel_toolchains//configs/ubuntu16_04_clang/1.2:jdk8
build:remote --platforms=@bazel_toolchains//configs/ubuntu16_04_clang/1.2:rbe_ubuntu1604

# Avoid python 3 which requires explicit toolchain config
build --host_force_python=PY2

# Specifies desired output mode for running tests.
test --test_output=errors

# Support for debugging NodeJS tests
test:debug --test_output=streamed --test_strategy=exclusive --define=VERBOSE_LOGS=1
run:debug --define=VERBOSE_LOGS=1 -- --node_options=--inspect-brk

build:debug --experimental_remote_grpc_log=logs/remote.log

# Load any settings specific to the current user.
# .bazelrc.user should appear in .gitignore so that settings are not shared with team members
# This needs to be last statement in this
# config, as the user configuration should be able to overwrite flags from this file.
# See https://docs.bazel.build/versions/master/best-practices.html#bazelrc
# (Note that we use .bazelrc.user so the file appears next to .bazelrc in directory listing,
# rather than user.bazelrc as suggested in the Bazel docs)
try-import %workspace%/.bazelrc.user
